body {
  background-image: url(images/wigwag.jpg);
  background-size: inherit;
  font-family: "Vollkorn", serif;
}
.jumbotron {
  background-color: #5c0000;
  color: white;
  /* background-image: url(images/sortinghat.png);
    background-size: cover;
    background-position: center; */
}
.jumbotron p {
  font-size: medium;
}
.sortinghatpic {
  height: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 10%;
  -webkit-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.75);
box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.75);
margin-bottom: 10px;
}
.Gryffindor{
    background-color: 	#FFC500;
    border: 3px #7F0909 solid;
}
.Hufflepuff{
    background-color: #EEE117;
    border: 3px solid #000000;
}
.Slytherin{
    background-color: #0D6217;
    border: solid 3px #AAAAAA;
    color: white;
}
.Ravenclaw{
    background-color: #000A90;
    border: solid 3px #946B2D;
    color: white;
}
.formhead{
    background-color: gold;
}
/* Header Pic */
.headerpic {
  margin-left: auto;
  margin-right: auto;
}
.container {
  text-align: center;
}
#sortButton{
  margin: 10px;
}
h1{
    text-shadow: 2px 1px grey;
    letter-spacing: .25rem;
    font-size: 70px;
}
.header{
    display: flex;
    justify-content: center;
}
.card {
  border: 3px #5c0000 solid;
  border-radius: 30%;
  height: 10%;
}
#cardSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#student-card {
  margin-bottom: 80px;
  background-color: #FFC500;
}

/* WAND ANIMATION */
.wandDiv {
  display: flex;
  justify-content: center;
}
.veil {
  width: 0;
  height: 0;
  border-right: 80px solid transparent;
  border-bottom: 140px solid #000;
  border-left: 80px solid transparent;
  position: relative;
}

.veil:after {
  width: 0;
  height: 0;
  border-right: 90px solid transparent;
  border-bottom: 160px solid #fff;
  border-left: 90px solid transparent;
  position: absolute;
  top: -13.5px;
  left: -90px;
  z-index: -1;
  content: "";
}

.stone {
  width: 95px;
  height: 95px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
  left: -49px;
  bottom: -41px;
  transition: left 1s;
}

.veil:hover > .stone {
  left: -200px;
}

.wand {
  width: 5px;
  height: 145px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: -2.5px;
  transition: left 1s;
}

.veil:hover > .wand {
  left: 110px;
}
